body {
    font-size: 1.2em;
    background-color: #f1f1f1;
}

#wrap {
    padding-top: 1rem;
    padding-bottom: 3rem;
}

.ui.cards > .ui.card {
    width: 195px;
}

.ui.card .header {
    margin-bottom: 0.25rem;
}

.star.no-hover {
    cursor: default !important;
    color: inherit !important;
    opacity: 1 !important;
}

.greenText {
    color: green;
    cursor: pointer;
}

.redText {
    color: red;
    cursor: pointer;
}
